{% extends 'portfolio/layout/layout.html' %}
{% load static %}

{% block label_page %}Portfolio{% endblock label_page %}


{% block li_nav %}
<li class="nav-item"><a class="nav-link" href="{% url 'main' %}"><strong>Portfolio</strong></a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'create_project' %}">Add project</a></li>
{% if request.user.is_authenticated %}
  <li class="nav-item"><a class="nav-link" href="#"><strong>Welcome, {{request.user.username}}</strong></a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
{% endif %}
{% endblock li_nav  %}


{% block body %}

<div class="row row-cols-1 row-cols-md-3 g-4 mt-5 body_main p-5">
  {% for i in lista%}
  <div class="col">
    <div class="card">
      <img src="{{i.foto_url}}" class="card-img-top m-auto p-2" alt="proyecto{{i.id}}" style='width:300px'>
      <div class="card-body">
        <h5 class="card-title">{{i.titulo}}</h5>
        <p class="card-text" style='text-align: justify;'>
          {% if i.descripcion|length < 70 %}
            {{i.descripcion}}
          {% else %}
            {{i.descripcion|slice:70}}...
          {% endif %}
        </p>
        <a href="{% url 'view_project' id=i.id %}"><button class='btn btn-warning'>Details</button></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}