{% extends 'portfolio/layout/layout.html' %}
{% load static %}

{% block label_page %}Project{% endblock label_page %}


{% block li_nav %}
<li class="nav-item"><a class="nav-link" href="{% url 'main' %}"><strong>Portfolio</strong></a></li>
<li class="nav-item"><a class="nav-link" href="{% url 'create_project' %}">Add project</a></li>
{% if request.user.is_authenticated %}
  <li class="nav-item"><a class="nav-link" href="#"><strong>Welcome, {{request.user.username}}</strong></a></li>
  <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
{% endif %}
{% endblock li_nav  %}


{% block body %}

<main class='p-5'>
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{{project.titulo}}</h1>
        <p class="col-md-8 fs-4" style='text-align:justify;'>{{project.descripcion}}.</p>
        <a href="{{project.github_url}}"><button class="btn btn-primary btn-lg" type="button">GitHub Link</button></a>

      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3 image_project">
          <h2>Image</h2>
          <p>Image about the project, provider by the admin user</p>
          <a href="{{project.foto_url}}"><img src="{{project.foto_url}}" class="img-thumbnail" alt="..."></a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Tags</h2>
          <p>{{project.tags}}</p>
          <p>Powered by</p>
          <img src="{% static 'img/GitHub.png' %}" class="img-thumbnail" alt="...">
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022
    </footer>
  </div>
</main>
{% endblock body %}