.fondo_project {
  background-image:url('https://images.unsplash.com/photo-1571829604981-ea159f94e5ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
  background-size: cover;
}

.fondo_register{
  background-image: url('https://img.freepik.com/free-photo/dark-grunge-texture_1048-4055.jpg?1?w=360');
  background-size: cover;

}